

<div class='text-black mb-5 mt-2 container-xxl'>
    <div class='d-flex justify-content-center align-items-center h-100 w-100' style="min-height:70vh; max-height:90vh">
        <div class='w-100 border border-1 border-white p-md-3 p-2' style="max-width:576px">
            <h1 class='fs-3 fw-bold'>REGISTER</h1>

            <form (ngSubmit)="register()" #registerForm="ngForm" class='row justify-content-start align-items-strech'>
                <div class='col-12 mb-2'>
                    <div class='inputBox'>
                        <input name="name" class='w-100 fs-9s rounded-0 form-control'  [(ngModel)]="user.name" required />
                        <span>Name</span>
                        <i></i>
                    </div>
                </div>

                <div class='col-12 mb-2'>
                    <div class='inputBox'>
                        <input name="email" class='w-100 fs-9s rounded-0 form-control'  [(ngModel)]="user.email" required />
                        <span>Email</span>
                        <i></i>
                    </div>
                </div>

                <div class='col-12 mb-2'>
                    <div class='inputBox'>
                        <input class='w-100 fs-9s rounded-0 form-control'  name="password" [(ngModel)]="user.password" required type="password" />
                        <span>Mot de passe</span>
                        <i></i>
                    </div>
                </div>

                <div class='mt-3'>
                    <button type="submit" class='form-control w-auto rounded-0 fs-9s py-1 px-3' [disabled]="registerForm.invalid">Register</button>
                </div>
            </form>
            <p class='mt-3'>Already have an account? <a routerLink="/login" class='text-decoration-none'>Login</a></p>
            <p *ngIf="message" class="mt-3">{{ message }}</p>
        </div>
    </div>
</div>
